/*---------------HEADER----------------*/
@font-face {
    font-family: Monserrat-Black;
    src: url(../../Fonts/Montserrat-Black.ttf);
  }
  @font-face {
    font-family: Monserrat-BoldItalic;
    src: url(../../Fonts/Montserrat-BoldItalic.ttf);
  }
  @font-face {
    font-family: Monserrat-Regular;
    src: url(../../Fonts/Montserrat-Regular.ttf);
  }
  @font-face {
    font-family: Monserrat-Medium;
    src: url(../../Fonts/Montserrat-Medium.ttf);
  }
  @font-face {
    font-family: Monserrat-SemiBold;
    src: url(../../Fonts/Montserrat-SemiBold.ttf);
  }
body{
    margin: 0;
    padding: 0;
    background: #1D1D1B;
    color: #cdcdcd;
}
.header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}
.header ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    align-items: center;
    height: 60px;
}
.header img{
    width: 110px;
    height: auto; 
}
.header li a {
    font-family: Monserrat-Medium;
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    margin: 30px;;
    text-decoration: none;
    opacity: 70%;
}
.vl{
    border-left: 2px solid white;
    opacity: 40%;
    height: 40px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.centerImage{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spanBack{
    position: absolute;
    left: 26%;
    top: 19%;
    height: 210px;
    width: 210px;
    background: linear-gradient( -45deg,#b99ac8,#b99ac8,#abdcf5,#ec2f5d,#6adff6,#ff5297,#4a5197,#2dced9,#efc62d,#fc6586,#53bbfd,#fba2cc,#b216d5,#f62c7d,#f62c7d);
    background-size: 3000% 3000%;
    animation: gradient 60s infinite;
    animation-timing-function: linear;
    border-radius: 50%;
    display: inline-block;
    z-index: -1;
}
#spanFront{
    position: absolute;
    left: 26.4%;
    top: 21%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    background-color: #1D1D1B;
}

.center img{
    width: 42%;
    height: auto;
    z-index: 2;
}
.centerText{
    display: flex;
    justify-content:flex-end ;
    margin-right: 16.5%;
}
.centerHr{
    display: flex;
    justify-content:flex-end ;
}
.centerHr hr{

    border-top: 4px solid #8E47D0;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 0px;
    padding: 0px;
    width: 55%;

}
.centerText p {
    margin: 0;
    font-family: Monserrat-Black;
    font-size: 130%;
    color: white;
}
.trabajos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.trabajos a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trabajos img{
    width: 60%;
    height: auto;
    transition: transform .5s;
}
.trabajos img:hover{
    transform: scale(1.05);
    z-index: 4;
}

/*-------------------------*/
footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color:#1d1d1b;
    width: 100%;
    font-family: Monserrat-Medium;
  }
  footer p{
    margin: 1% 0px 0px 0px;
    font-size: 100%;
  }
  #primero{
    margin: 3% 0px 0px 0px;
    font-family:Monserrat-SemiBold;
  }
  #segundo{
    font-family:Monserrat-SemiBold;
  }
  .hlFooter{
    border-top: 4px solid #8E47D0;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 10px;
    padding: 0px;
    width: 85%;
  }
  .contactoFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    
  }
  .contactoFooter ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style:none
  }
  .contactoFooter img{
    margin-left:25% ;
    width: 50%;
    height: auto;
  }
  .contactoFooter a:link{
    text-decoration: none;
    color: #cdcdcd;
  }
  .contactoFooter a:visited{
    text-decoration: none;
    color: #cdcdcd;
  }

::marker{
    font-size: 0;
}

@media only screen and (max-width: 1000px) {
    .header{
        margin: 10px;
    }
    .header ul{
        height: 20px;
    }
    .header li a {
        margin: 10px;;
        text-decoration: none;
        opacity: 70%;
    }
    #spanBack{
        left: 26%;
        top: 19%;
        height: 34vh;
        width: 34vh;
    }
    #spanFront{
        left: 26.4%;
        top: 21%;
        height: 32.5vh;
        width: 32.5vh;
    }
    .centerText{
        margin-right: 17.6%;
    }
    .centerText p {
        font-size: 90%;
    }

}

