@font-face {
    font-family: Monserrat-Black;
    src: url(../Fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: Monserrat-BoldItalic;
    src: url(../Fonts/Montserrat-BoldItalic.ttf);
}
@font-face {
    font-family: Monserrat-Regular;
    src: url(../Fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Monserrat-Medium;
    src: url(../Fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Monserrat-SemiBold;
    src: url(../Fonts/Montserrat-SemiBold.ttf);
}
body
{
  margin: 0;
  padding: 0;
  background-color: #1d1d1b;
  color: #cdcdcd;
  font-family: Monserrat-Regular;
  max-width: 100%;
  overflow-x: hidden;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #616161;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
/*----------------*/

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color:#1d1d1b;
    width: 100%;
    font-family: Monserrat-Medium;
}
footer p{
    margin: 1% 0px 0px 0px;
    font-size: 100%;
}
#primero{
    margin: 3% 0px 0px 0px;
    font-family:Monserrat-SemiBold;
}
#segundo{
    font-family:Monserrat-SemiBold;
}
.contactoFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    
}
.contactoFooter ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style:none
}
.contactoFooter img{
    margin-left:25% ;
    width: 50%;
    height: auto;
}

.headerText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.sizeBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 40%;
    height: auto;
    text-align: center;
}
.hlFooter{
    border-top: 4px solid #8E47D0;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 10px;
    padding: 0px;
    width: 85%;
}
.hlSizeBox{
    border-top: 4px solid #8E47D0;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 10px;
    padding: 0px;
    width: 150%;
}
.totalBodie{
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.totalText{
    display: flex;
    flex-direction: column;
    justify-items: right;
    width: 100vh;
    height: auto;
}
.textoIzquierda{
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-items: right;
}
.textoIzquierda p{
    margin-left: auto;
    width: 50%;
    height: auto;
    margin-right: 10%;
}
.textoIzquierda h3{
    margin-right: 10%;
    margin-left: auto;
    margin-bottom: 0px;
    width: 50%;
    height: auto;
    font-size: 180%;
}

.imagenPrincipal{
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
#profileIMG{
    width: 35%;
    height: auto;
}
#statsIMG{
    margin-left: 10%;
    margin-top: 5%;
    width: 25%;
    height: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.perfil span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20%, -76%);
    height: 320px;
    width: 320px;
    background: linear-gradient( -45deg,#b99ac8,#b99ac8,#abdcf5,#ec2f5d,#6adff6,#ff5297,#4a5197,#2dced9,#efc62d,#fc6586,#53bbfd,#fba2cc,#b216d5,#f62c7d,#f62c7d);
    background-size: 3000% 3000%;
    animation: gradient 60s infinite;
    animation-timing-function: linear;
    border-radius: 50%;
    display: inline-block;
    z-index: -1;
}

a { 
    color: inherit; 
    text-decoration: none;
}
.CV{
  margin-top: 5%;
  margin-left: 10%;
}
@media only screen and (max-width: 1366px) {
    .perfil span {
    top: 50%;
    left: 50%;
    transform: translate(15%, -20%);
    height: 235px;
    width: 235px;
    }

}